@layer theme;
@import "tailwindcss/theme.css" layer(theme);

@theme {
  --font-lalezar: "Lalezar", serif;

  --color-space-cadet: #191e4b;
  --color-patrick-blue: #262d71;
  --color-grape: #6939b2;
  --color-slate-blue: #8355c9;
  --color-pale-lavender: #e0ccff;
  --color-pale-lavender: #e0ccff;

  --width-main: 36rem;
}
